<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../includes/header"); %>
  <body>
    <section class="container">
       <%  number.map((num) =>{  %>
          <%=  num  %>  
       <%   })   %>
      <form action="/" method="post">
       Nome do cliente: <input type="text" name="client" placeholder="Nome" />
       <button type="submit">Enviar</button>
    </section>
    <script src="./assets/js/bundle.js"></script>
  </body>
</html>
